{% extends "main_template.html" %}

{% block content %}

    <div id="about">
        <h1>About</h1>
        <p>Hi, I'm Matthew LiDonni, I'm an IT major at NJIT expecting to graduate in Spring of 2024.<br><br>
        I made this site using Python-Flask, Jinja and Flask-SQLAlchemy. The visuals aren't the best but my goal with the site was to practice using
        a database, which this site uses to store and retrieve the tasks. Since most of my family is all New York Italians, I thought it would
        be fun to embrace that in the theme of this site.<br>
        <br><br>
        I hope you liked the site, or at least got a good laugh out of it. If you're looking for more stuff by me, want to get in contact,
            or even just know more about me then check out my <a href="https://linkedin.com/in/matthewlidonni">LinkedIn.</a><br>
        I'm hoping to get more sites up and running on my portfolio, though I'm still deciding on what project to pursue next. I find it hard to not
        work on new projects, so I'm sure it won't be too long before a new one appears on my page.</p><br>

    </div>
    <br>

{% endblock content %}